{% extends 'main/index.html' %}

{% block title %}About us{% endblock %}

{% block content %}
  {% load static %}
  <section>
      <h1 class="center">About us</h1>
      <ul class="list-box multicolor-list2">
        <li><span>01</span><a href="#basic_information">Basic information</a></li>
        <li><span>02</span><a href="#history">Our history</a></li>
        <li><span>03</span><a href="#video">Video</a></li>
        <li><span>04</span><a href="#audio">Audio</a></li>
        <li><span>05</span><a href="#documents">Documents</a></li>
      </ul>

      <article id="basic_information" class="text-block">
        <h2>Basic information</h2>
        <p>{{ basic_information }}</p>
      </article>

      <article id="history" class="text-block">
        <h2>Our history</h2>
        <p>{{ our_history }}</p>
      </article>

      <article id="video" class="text-block" >
        <h2>Video</h2>
        <iframe class="center-container" width="560" height="600" src="https://www.youtube.com/embed/W2W6ZoaSAzc"
              frameborder="0" allowfullscreen title="Video">
        </iframe>
      </article>

      <article id="audio" class="text-block">
        <h2 >Audio</h2>
        <audio class="center-container" controls>
          <source src="{% static 'audio/birds_singing.mp3' %}">
          Audio
        </audio>
      </article>

      <article id="documents" class="text-block">
        <h2>Documents</h2>
        <div class="certificate">
            <div>
                <p class="title">Certificate</p>
                <p class="text">To Zoo "<span class="company-name">Animal Adventure Park</span>"</p>
            </div>
        </div>
        <a class="center-container" href="{% static 'img/certificate.jpg' %}" download>
          Download
        </a>
      </article>
  </section>
{% endblock %}