{% extends 'main/index.html' %}

{% block title %}Animals{% endblock %}

{% block content %}
  {% load static %}
  {% load filters %}

  <section>
    <h1 class="centerable">All animals</h1>

    {% if user.is_authenticated and not user.username|is_client %}
      <p class="centerable"><a href="{% url 'add_animal' %}">Add</a></p>
    {% endif %}

    <form class="centerable" method="GET" action="{% url 'animals' %}">
      <span style="flex: left;">{{ search_form.as_p }}</span>
      <button type="submit">Search</button>
    </form>

      {% if animal_list %}
      <div class="grid-container" style="--column-count: 4">
        {% for animal in animal_list %}
        <div class="grid-item">
          <figure class="photo-card">
            <img src="{{ animal.image }}" alt="Animal's image">
            <figcaption>
              <a href="{% url 'animal' id=animal.id %}">{{ animal.name }}</a>
            </figcaption>
          </figure>
        </div>
        {% endfor %}
      </div>

      {% else %}
        <p>There are no animals in the zoo.</p>
      {% endif %}
  </section>

{% endblock %}
