{% extends 'main/index.html' %}

{% block title %}All animals{% endblock %}

{% block content %}
  {% load static %}
  {% load filters %}

  <form method="GET" action="{% url 'animals' %}">
    {{ search_form.as_p }}
    <button type="submit">Search</button>
  </form>

  <section>
    <h1>All animals</h1>

    {% if user.is_authenticated and not user.username|is_client %}
      <p><a href="{% url 'add_animal' %}">Add</a></p>
    {% endif %}

      {% if animal_list %}
      <div class="grid-container">
        {% for animal in animal_list %}
        <div class="grid-item">
          <figure style="margin: 10px;">
            <img src="{{ animal.image }}" alt="Animal's image" style="max-width: 150px;
                                                                                 max-height: 100px;">
            <figcaption>
              <a href="{% url 'animal' id=animal.id %}">{{ animal.name }}</a>
            </figcaption>
          </figure>
        </div>
        {% endfor %}
      </div>

      {% else %}
        <p>There are no animals in the zoo.</p>
      {% endif %}
  </section>

{% endblock %}
