{% extends 'main/index.html' %}

{% block title %}Coupons{% endblock %}

{% block content %}
  {% load static %}

  <section>
    <h1 class="center">Coupons</h1>

    {% if coupon_list %}
    <div class="grid-container indent">
      {% for coupon in coupon_list %}
        <div class="grid-item coupon" style="--border-color: {% if coupon.is_active %} green {% else %} red {% endif %}">
          <h2>{{ coupon.discount }}%</h2>
          <small>{{ coupon.description }}</small>
        </div>
      {% endfor %}
    </div>
      {% else %}
        <p>There are no coupons.</p>
      {% endif %}
  </section>
{% endblock %}