{% extends 'main/index.html' %}

{% block title %}Coupons{% endblock %}

{% block content %}
  {% load static %}

  <section>
    <h1>Coupons</h1>

    {% if coupon_list %}
    <div class="grid-container">
      {% for coupon in coupon_list %}
        <div class="gris-item">
          <article style="border: 2px solid {% if coupon.is_active %} green; {% else %} red; {% endif %} padding: 20px;">
            <h2>{{ coupon.discount }}%</h2>
            <small>{{ coupon.description }}</small>
          </article>
        </div>
      {% endfor %}
    </div>

      {% else %}
        <p>There are no coupons.</p>
      {% endif %}
  </section>
{% endblock %}