<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>{% block title %}Zoo Home{% endblock %}</title>

    {% load static %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Trirong">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="icon" href="{% static 'img/icon.png' %}">
</head>

<body>
    <header style="padding-bottom: 10px;">
        <div style="width: 100%;">
            <div align="center">
                <span style="color: white; font-size: 12px;" id="current-datetime">
                    XX.XX.XXXX, XX:XX:XX
                </span>
                <span style="color: white; font-size: 12px;" id="countdown">
                    XX:XX
                </span>
            </div>
            <nav>
                <div class="flex-div" style="width: 100%;">
                    <img class="icon flex-div-el" src="{% static 'img/icon.png' %}" alt="icon">
                    <a class="menu-item flex-div-el" href="{% url 'home' %}">Home</a>
                    <a class="menu-item flex-div-el" href="{% url 'news' %}">News</a>
                    <a class="menu-item flex-div-el" href="{% url 'animals' %}">All animals</a>
                    <a class="menu-item flex-div-el" href="{% url 'placements' %}">All placements</a>
                    <a class="menu-item flex-div-el" href="{% url 'staff' %}">All staff</a>
                    <a class="menu-item flex-div-el" href="{% url 'vacancies' %}">Our vacancies</a>
                    <a class="menu-item flex-div-el" href="{% url 'questions' %}">Questions</a>
                    <a class="menu-item flex-div-el" href="{% url 'reviews' %}">Reviews</a>
                    <a class="menu-item flex-div-el" href="{% url 'coupons' %}">Coupons</a>
                    {% if user.is_authenticated %}
                        {% if user.is_superuser %}
                            <a class="menu-item flex-div-el" href="/admin/">Personal Account</a>
                        {% else %}
                            <a class="menu-item flex-div-el" href="{% url 'personal_account' %}">Personal Account</a>
                        {% endif %}
                        <a class="menu-item flex-div-el" href="{% url 'diagram' %}">Diagram</a>
                        <a class="menu-item flex-div-el" href="{% url 'static_info' %}">Static Info</a>
                    {% else %}
                        <a class="menu-item flex-div-el" href="/main/accounts/login/">Personal Account</a>
                    {% endif %}
                    <a class="menu-item flex-div-el" href="{% url 'other' %}">Other</a>
                </div>
            </nav>
        </div>
    </header>

    <main style="width: 100%;">
        {% block content %}
        <section>
            <div class="image-container">
                <img src="{% static 'img/banner1.png' %}" alt="Banner #1">
                <img src="{% static 'img/banner2.png' %}" alt="Banner #2">
                <img src="{% static 'img/banner3.png' %}" alt="Banner #3">
                <img src="{% static 'img/banner4.png' %}" alt="Banner #4">
            </div>

            <div align="center" style="margin: 20px;">
                <p style="font-size: 20px;">Welcome to our <em>Zoo</em>!</p>
                <p style="font-size: 20px;">You can read
                    <a href="{% url 'about_us' %}">about us</a>
                </p>
            </div>

            <table>
                <tr>
                    <td>
                        <div class="latest-article">
                            <h2>Latest article</h2>
                            <img src="{{ latest_article.image }}" style="max-width: 200px;"
                                 alt="The latest article's image">
                            <h3>{{ latest_article.title }}</h3>
                            <small>{{ latest_article.date }}</small>
                            <p>{{ latest_article.short_description }}</p>
                            <a href="{% url 'article' id=latest_article.id %}">
                                Read more...
                            </a>
                        </div>
                    </td>

                    <td>
                        <article class="text-block" style="margin-left: 150px;">
                            <p style="font-size: 20px;"><em>Random fact about cats: </em><q>{{ fact }}</q></p>
                            <img style="max-width: 300px; max_height: 300px;" src="{{ image_url }}" alt="Dog's image">
                        </article>
                    </td>
                </tr>
            </table>

        </section>
        {% endblock %}
    </main>

    <footer style="margin-top: 20px;">
        <div class="container">
            <div>
                <p class="center">Our partners:</p>
                <div class="circle-block" style="display: inline-block;">
                    <a target="_blank" href="https://afisha.relax.by/">
                        <img src="{% static 'img/partner1.png' %}">
                    </a>
                </div>
                <div class="circle-block" style="display: inline-block;">
                    <a target="_blank" href="https://www.ranova-pettreats.com/?yclid=18068669379530981375">
                        <img src="{% static 'img/partner2.png' %}">
                    </a>
                </div>
            </div>

            <div>
                <div align="right" class="icon-a-container">
                    <span><img class="mini-icon" src="{% static 'img/phone-icon.png' %}"/></span>
                    <a style="color: white;" href="tel:+375298225999" target="_blank">+375 (29) 822-59-99</a>
                </div>
                <div align="right" class="icon-a-container">
                    <span><img class="mini-icon" src="{% static 'img/address-icon.png' %}"/></span>
                    <a href="https://maps.google.com/maps?q=10+Petrusya+Brovki+street,+Minsk,+Belarus" target="_blank">
                        Minsk, Petrusya Brovki str., 10
                    </a>
                </div>
                <div align="right" class="icon-a-container">
                    <span><img class="mini-icon" src="{% static 'img/email-icon.png' %}"/></span>
                    <a style="color: white;" href="mailto:aap_zoo@gmail.com" target="_blank">aap_zoo@gmail.com</a>
                </div>
            </div>
        </div>

        <div align="center">
            <a style="color: white;" href="{% url 'privacy_policy' %}">Privacy policy</a>
            <p>&copy; 2023 Zoo "<span class="company-name">Animal Adventure Park</span>". All rights reserved.</p>
        </div>
    </footer>

    <script src="{% static 'js/site.js' %}"></script>
</body>
</html>