<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>{% block title %}Zoo Home{% endblock %}</title>
    <script>
        function updateDateTime()
        {
            var currentDateTime = new Date();
            var formattedDateTime = currentDateTime.toLocaleString();
            var element = document.getElementById("current-datetime");
            element.innerHTML = formattedDateTime;
        }
        setInterval(updateDateTime, 1000);
    </script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="icon" href="{% static 'img/icon.png' %}">
</head>

<body>
    <div style="background-color: #20603d;">
        <p style="text-align:center; color: white;" id="current-datetime"></p>
    </div>

    <header>
        <div class="container">
            <nav>
                <div class="navbar-nav">
                    <img class="icon" src="{% static 'img/icon.png' %}">
                    <a class="menu-item" href="{% url 'home' %}">Home</a>
                    <a class="menu-item" href="{% url 'news' %}">News</a>
                    <a class="menu-item" href="{% url 'animals' %}">All animals</a>
                    <a class="menu-item" href="{% url 'placements' %}">All placements</a>
                    <a class="menu-item" href="{% url 'staff' %}">All staff</a>
                    <a class="menu-item" href="{% url 'vacancies' %}">Our vacancies</a>
                    <a class="menu-item" href="{% url 'questions' %}">Questions</a>
                    <a class="menu-item" href="{% url 'reviews' %}">Reviews</a>
                    <a class="menu-item" href="{% url 'coupons' %}">Coupons</a>
                    {% if user.is_authenticated %}
                        {% if user.is_superuser %}
                            <a class="menu-item" href="/admin/">Personal Account</a>
                        {% else %}
                            <a class="menu-item" href="{% url 'personal_account' %}">Personal Account</a>
                        {% endif %}
                        <a class="menu-item" href="{% url 'diagram' %}">Diagram</a>
                        <a class="menu-item" href="{% url 'static_info' %}">Static Info</a>
                    {% else %}
                        <a class="menu-item" href="/main/accounts/login/">Personal Account</a>
                    {% endif %}
                    <a class="menu-item" href="{% url 'html' %}">HTML</a>
                </div>
            </nav>
        </div>
    </header>

    <main class="container">
        {% block content %}
        <div class="container">
            <h1>ZOO HOME</h1>
            <div class="image-container">
                <img src="{% static 'img/banner1.png' %}">
                <img src="{% static 'img/banner2.png' %}">
                <img src="{% static 'img/banner3.png' %}">
                <img src="{% static 'img/banner4.png' %}">
            </div>
            <p>Welcome to our <em>Zoo</em>!</p>
            <p>You can read <a href="{% url 'about_us' %}">about us</a></p>

            <div style="margin: 10 px;">
                <h1>Latest article</h1>
                <img src="{{ latest_article.image }}" style="max-width: 200px;">
                <h2>{{ latest_article.title }}</h2>
                <small>{{ latest_article.date }}</small>
                <p>{{ latest_article.short_description }}</p>
                <a href="/main/articles/{{ latest_article.id }}">Read more...</a>
            </div>

            <p><em>Random fact about cats: </em>{{ fact }}</p>
            <img class="simple-image" src="{{ image_url }}" alt="Such image doesn't exist :(">
        </div>
        {% endblock %}
    </main>

    <footer style="margin-top: 10px;">
        <div style="color: white">
            <ul style="list-style-type: none;">
                <li>
                    <img class="mini-icon" src="{% static 'img/phone-icon.png' %}"/>
                    <a href="tel:+375298225999" target="_blank">+375 (29) 822-59-99</a>
                </li>
                <li>
                    <img class="mini-icon" src="{% static 'img/address-icon.png' %}"/>
                    <a href="https://maps.google.com/maps?q=10+Petrusya+Brovki+street,+Minsk,+Belarus" target="_blank">
                        Minsk, Petrusya Brovki str., 10
                    </a>
                </li>
                <li>
                    <img class="mini-icon" src="{% static 'img/email-icon.png' %}"/>
                    <a href="mailto:aap_zoo@gmail.com" target="_blank">aap_zoo@gmail.com</a>
                </li>
            </ul>
            <a href="{% url 'privacy_policy' %}">Privacy policy</a>
            <p>&copy; 2023 Zoo "Animal Adventure Park". All rights reserved.</p>
        </div>

        <a target="_blank" href="https://afisha.relax.by/">
            <img class="mini-icon" src="{% static 'img/partner1.png' %}">
        </a>
        <a target="_blank" href="https://www.ranova-pettreats.com/?yclid=18068669379530981375">
            <img class="mini-icon" src="{% static 'img/partner2.png' %}">
        </a>
    </footer>
</body>
</html>