{% extends 'main/index.html' %}

{% block title %}Other things{% endblock %}

{% block content %}
    <style>
        a[href^="https://"]:not(.visited) {
            font-weight: bold;
            font-style: italic;
        }
        a[href$=".com"]:not(.visited) {
            color: black;
        }

        .button.primary {
            background-color: black;
            color: white;
        }

        .visited:visited {
            color: var(--green-color);
        }
        .visited:link {
            color: var(--orange-color);
        }

        .lang-q:lang(de) { quotes: "\201E" "\201C"; }
        .lang-q:lang(en) { quotes: "\201C" "\201D"; }
        .lang-q:lang(fr) { quotes: "\00AB" "\00BB"; }
    </style>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var links = document.querySelectorAll(".visited");

            links.forEach(function(link) {
                link.addEventListener("click", function() {
                    link.classList.add("visited");

                    setTimeout(function() {
                        link.classList.remove("visited");
                    }, 5000);
                });
            });
        });
    </script>

    <section>
        <h1 class="center">HTML/CSS things</h1>
        <div class="grid-container">
            <article class="grid-item">
                <h3>Listing</h3>
                <code>
                    def function():
                        print('Hello, world!')
                </code>
            </article>
            <article class="grid-item">
                <h3>Abbreviation and Definition</h3>
                <dl>
                    <dt>
                        <abbr title="Hypertext Markup Language">
                            HTML
                        </abbr>
                    </dt>
                    <dd>Hypertext Markup Language</dd>
                </dl>
            </article>
            <article class="grid-item">
                <h3>Quatrain</h3>
                <p>
                    Good morning, Good morning,<br>
                    And how do you do?<br>
                    Good morning, Good morning,<br>
                    I’m fine, how are you?
                </p>
            </article>
            <article class="grid-item">
                <h3>Selectors with beginning/ending substring</h3>
                <a href="{% url 'home' %}">Reference 1</a>
                <a href="https://www.youtube.com">Reference 2</a>
                <a href="https://translate.yandex.ru">Reference 3</a>
            </article>
            <article class="grid-item">
                <h3>Selectors' combination AND</h3>
                <button class="button primary">Primary Button</button>
                <button class="button secondary">Secondary Button</button>
            </article>
            <article class="grid-item">
                <h3>Visited and non-visited links</h3>
                <a class="visited" id="visited" href="https://oz.by/">Link</a>
            </article>
            <article class="grid-item">
                <h3>Different quotes</h3>
                <p>Quote in french: <q lang="fr" class="lang-q">Ce que femme veut, Dieu le veut</q>.</p>
                <p>Quote in german: <q lang="de" class="lang-q">Der Mensch, versuche die Gotter nicht</q>.</p>
                <p>Quote in english: <q lang="en" class="lang-q">То be or not to be</q>.</p>
            </article>
            <article class="grid-item">
                <h3>Inputs styling</h3>
                <input type="checkbox" name="check"><span>Select</span><br>
                <input type="text" value="Enabled">
                <input type="text" disabled value="Disabled">
            </article>
        </div>

        <br><br><br>
        <h1 class="center">JavaScript things</h1>
        <div align="center">
            <a href="{% url 'text_change' %}">Go to the text change page...</a><br>
            <a href="{% url 'age_calculator' %}">Go to the age calculator page...</a><br>
            <a href="{% url 'interactive_table' %}">Go to the interactive table page...</a><br>
            <a href="{% url 'scrolling_animation' %}">Go to the scrolling animation page...</a><br>
            <a href="{% url 'associative_array' %}">Go to the associative array page...</a><br>
            <a href="{% url 'price_calculation' %}">Go to the price calculation page...</a><br>
            <a href="{% url 'autoplay_carousel' %}">Go to the autoplay carousel page...</a><br>
            <button id="classFunctionActivator">See class demonstration (open site console!)</button>
        </div>
    </section>
{% endblock %}