{% extends 'main/index.html' %}

{% block title %}All placements{% endblock %}

{% block content %}
  {% load static %}
  {% load filters %}

  <form method="GET" action="{% url 'placements' %}">
    {{ search_form.as_p }}
    <button type="submit">Search</button>
  </form>

  <h1>All placements</h1>

  {% if user.is_authenticated and not user.username|is_client %}
    <p><a href="{% url 'add_placement' %}">Add</a></p>
  {% endif %}

  {% if placement_list %}
  <ul class="list-box">
    {% for placement in placement_list %}
    <li class="marked" style="list-style: decimal-leading-zero;">
      <a href="{% url 'placement' id=placement.id %}">{{ placement }}</a>
    </li>
    {% endfor %}
  </ul>
  {% else %}
    <p>There are no placements in the zoo.</p>
  {% endif %}
{% endblock %}