{% extends 'main/index.html' %}

{% block title %}Staffer Details{% endblock %}

{% block content %}
    {% load static %}

    <article>
        <h1 class="center">Staffer Details</h1>
        <div align="center" class="container" style="margin: 0 400px;" itemscope itemtype="https://schema.org/Person"
                 id="parallax">
            <div>
                <img itemprop="image" src="{{ staffer.photo }}" alt="Staffer's photo" style="max-width: 200px;">
            </div>
            <ul style="text-align: left;">
                <li itemprop="name">Name: {{ staffer.name }}</li>
                <li itemprop="jobTitle">Post: {{ staffer.post }}</li>
                <li itemprop="telephone">Phone number: {{ staffer.phone_number }}</li>
                <li itemprop="email">E-mail: {{ email }}</li>
                <li>Description: {{ staffer.post.description }}</li>
                <li><a href="{% url 'staffer_animals' id=staffer.id %}">View Animals</a></li>
                <li><a href="{% url 'staffer_placements' id=staffer.id %}">View Placements</a></li>
            </ul>
        </div>
    </article>
{% endblock %}