* {
    margin: 0;
    padding: 0;
    font-family: "Trirong", serif;
}

header {
    background-image: linear-gradient(to bottom right, #6b8e23, #20603d);
}

main {
    padding-top: 10px;
    min-height: 500px;
}

footer {
    background-image: linear-gradient(to bottom left, #20603d, #6b8e23);
}

.icon {
    width: 5%;
    height: auto;
    margin: 10px;
}

.mini-icon {
    width: 2%;
    height: auto;
    margin: 10px;
}

.simple-image {
    max-width: 500px;
}

.menu-item {
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 14px;
    font-weight: bold;
    border: 2px solid white;
    border-radius: 20px;
    padding: 8px;
    margin: 5px;
    margin-right: 7px;
    transition: font-size 0.2s;
}

.menu-item:hover {
    color: white;
    font-size: 25px;
}

.menu-item:pressed {
    color: white;
}

.image-container {
    height: 530px;
    overflow: hidden;
    position: relative;
}

.image-container img {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: transform 20s ease-in-out;
}

.image-container img:nth-child(1) {
    animation: imageAnimation1 40s infinite;
}

.image-container img:nth-child(2) {
    animation: imageAnimation2 40s infinite;
}

.image-container img:nth-child(3) {
    animation: imageAnimation3 40s infinite;
}

.image-container img:nth-child(4) {
    animation: imageAnimation4 40s infinite;
}

@keyframes imageAnimation1 {
    0%, 100% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-100%);
    }
    50% {
        transform: translateX(-200%);
    }
    75% {
        transform: translateX(-300%);
    }
}

@keyframes imageAnimation2 {
    0%, 100% {
        transform: translateX(100%);
    }
    25% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-100%);
    }
    75% {
        transform: translateX(-200%);
    }
}

@keyframes imageAnimation3 {
    0%, 100% {
        transform: translateX(200%);
    }
    25% {
        transform: translateX(100%);
    }
    50% {
        transform: translateX(0);
    }
    75% {
        transform: translateX(-100%);
    }
}

@keyframes imageAnimation4 {
    0%, 100% {
        transform: translateX(300%);
    }
    25% {
        transform: translateX(200%);
    }
    50% {
        transform: translateX(100%);
    }
    75% {
        transform: translateX(0);
    }
}

:root {
  --gap-size: 20px;
  --column-count: 3;
}

 .grid-container {
    display: grid;
    grid-template-columns: repeat(var(--column-count), 1fr);
    gap: var(--gap-size);
}

.grid-item {
    text-align: center;
}

a {
    color: #d3430f;
    text-decoration: none;
}

a:hover {
    color: #d3430f;
}

a:pressed {
    color: #d3430f;
}

.question {
    font-weight: bold;
    cursor: pointer;
    font-size: 20px;
}


.flex-div {
    display: flex;
    align-items: center;
}

.flex-div-el {
    flex-grow: 1;
}

.borderable {
    margin: 20px;
}

.centerable {
    text-align: center;
}

.coupon {
    display: inline-block;
    padding: 20px;
    margin: 20px;
    margin-bottom: 5px;
    margin-top: 5px;
    border: 2px solid black;
    border-radius: 10px;
    transition: all 0.3s;
}

.coupon:hover {
    transform: scale(1.15);
    border: 5px solid var(--border-color);
}

.photo-card {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.6s;
    padding-top: 15px;
    padding-bottom: 10px;
}

.photo-card img {
    border-radius: 15%;
    max-width: 250px;
    max-height: 200px;
    transition: transform 0.6s, filter 0.6s;
}

.photo-card figcaption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    font-size: 300%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.6s;
    padding: 10px;
    box-sizing: border-box;
}

.photo-card:hover {
    transform: scale(1.15);
}

.photo-card:hover img {
    transform: scale(1.15);
    filter: brightness(70%);
}

.photo-card:hover figcaption {
    opacity: 1;
}