header, footer {
    background-color: #20603d;
}

.icon {
    width: 5%;
    height: auto;
    margin: 10px;
    margin-bottom: 20px;
}

.mini-icon {
    width: 2%;
    height: auto;
    margin: 10px;
}

.simple-image {
    max-width: 500px;
}

.menu-item {
    font-family: "Times New Roman";
    color: white;
    font-size: 15px;
    border: 2px solid white;
    border-radius: 20px;
    padding: 8px;
    margin: 5px;
    margin-right: 7px;
    transition: font-size 0.2s;
}

.menu-item:hover {
    color: white;
    font-size: 25px;
}

.menu-item:pressed {
    color: white;
}

.image-container {
    width: 1100px;
    height: 350px;
    overflow: hidden;
    position: relative;
}

.image-container img {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: transform 20s ease-in-out;
}

.image-container img:nth-child(1) {
    animation: imageAnimation1 40s infinite;
}

.image-container img:nth-child(2) {
    animation: imageAnimation2 40s infinite;
}

.image-container img:nth-child(3) {
    animation: imageAnimation3 40s infinite;
}

.image-container img:nth-child(4) {
    animation: imageAnimation4 40s infinite;
}

@keyframes imageAnimation1 {
    0%, 100% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-100%);
    }
    50% {
        transform: translateX(-200%);
    }
    75% {
        transform: translateX(-300%);
    }
}

@keyframes imageAnimation2 {
    0%, 100% {
        transform: translateX(100%);
    }
    25% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-100%);
    }
    75% {
        transform: translateX(-200%);
    }
}

@keyframes imageAnimation3 {
    0%, 100% {
        transform: translateX(200%);
    }
    25% {
        transform: translateX(100%);
    }
    50% {
        transform: translateX(0);
    }
    75% {
        transform: translateX(-100%);
    }
}

@keyframes imageAnimation4 {
    0%, 100% {
        transform: translateX(300%);
    }
    25% {
        transform: translateX(200%);
    }
    50% {
        transform: translateX(100%);
    }
    75% {
        transform: translateX(0);
    }
}

 .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.grid-item {
    text-align: center;
}

a {
    color: #d3430f;
}

a:hover {
    color: #d3430f;
}

a:pressed {
    color: #d3430f;
}
